
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the top */
  align-items: center;
  height: 100vh;
  padding-top: 50px; /* Adjust this value to move the form up/down */

  .image {
    margin-bottom: 20px;
  }
  
  .album {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }