.image{
  display: flex;
  padding-top: 10rem;
  padding-left: 2rem;
}


.album{
display: flex;
flex-direction: column;
justify-content:center;
padding-left: 40rem;
padding-bottom: 10rem;
padding-right: 20rem;
}



