.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

img {
  margin-right: 50px;
margin-left: 20px;
}

.album {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

details {
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
 
}
summary:hover{
  background-color: rgb(0, 0, 0);
}
summary {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

ol {
  padding-left: 20px;
  margin: 10px 0;
  list-style: decimal;
}

.heading{
margin-bottom: 50px;
text-align: center;
}

.ap{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}